{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}

        
    <div class="container py-5">
        <ul class="list-group list-group-light list-group-small">
           {% for c in categories.findAll() %}
            <li class="list-group-item"><a class="nav-link" href="{{ path('app_product_category', {'id' : c.id}) }}" >{{c.name }}</a></li>
            {% endfor %}
        </ul>

    </div>  
{% endblock %}


