<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Symcom</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Accueil
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nos Produits</a>
        </li>

        {% if is_granted('ROLE_USER') %}
        <li class="nav-item">
          <a class="nav-link" href="#">Profil</a>
        </li>
        {% endif %}

          {% include '_incs/_cat_nav.html.twig' %}
        
        {# <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Catégories</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
             #}
          {# </div> #}
        {# </li> #}
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

    <nav class="navbar">

      <ul class="navbar-nav navbar-right">

        {% if not app.user %}

        <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link"> <i class="fa-solid fa-arrow-right-to-bracket"></i> 
        <small class="test-white">Connexion</small></a></li>

        <li class="nav-item"><a href="{{ path('app_register') }}" class="nav-link"> <i class="fa-solid fa-arrow-right-to-bracket"> &nbsp;</i> 
        <small class="test-white">Inscription</small></a></li>

        {% else %}

        <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link"> <i class="fa-solid fa-power-off"></i> 
        <small class="test-white">Deconnexion</small></a></li>

        {% endif %}
    
      </ul>
    
    
    </nav>

  </div>
</nav>


